.banner-img {
    height: 200px;
    object-fit: cover;
}

.profile-pic-container {
    position: absolute;
    top: 65%; /* Ajustar para mover la imagen de perfil más arriba */
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: 4px solid #ffffff;
    border-radius: 9999px;
    background-color: #ffffff;
}
.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}
.bg-gray-100 { background-color: #f7fafc; }
.h-screen { height: 100vh; }
.flex { display: flex; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.p-2 { padding: 0.5rem; }
.bg-white { background-color: #ffffff; }
.p-8 { padding: 2rem; }
.rounded-lg { border-radius: 0.5rem; }
.shadow-md { box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
.max-w-md { max-width: 28rem; }
.w-full { width: 100%; }
.relative { position: relative; }
.rounded-t-lg { border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; }
.absolute { position: absolute; }
.bottom-0 { bottom: 0; }

.transform { transform: translate(-50%, 50%); }
.w-24 { width: 6rem; }
.h-24 { height: 6rem; }
.rounded-full { border-radius: 9999px; }
.border-4 { border-width: 4px; }
.border-white { border-color: #ffffff; }
.mt-4 { margin-top: 1rem; }
.text-xl { font-size: 1.25rem; }
.font-bold { font-weight: 700; }
.text-gray-800 { color: #2d3748; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.text-gray-700 { color: #4a5568; }
.mt-2 { margin-top: 0.5rem; }
.space-x-4 > :not(:last-child) { margin-right: 1rem; }
.text-blue-500 { color: #4299e1; }
.hover\:underline:hover { text-decoration: underline; }
.my-4 { margin-top: 1rem; margin-bottom: 1rem; }
.border-t { border-top-width: 1px; }
.border-gray-300 { border-color: #e2e8f0; }
.justify-between { justify-content: space-between;
}